@import "sass-bootstrap/lib/bootstrap";

.row .col-md-6:first-child {
    // background: #eee;
}

.row .col-md-6:last-child {
    background: #aaa;
}

// plugin styles

.sticky {
    width: 555px;
    padding: 0;
    margin: 0;

    p {
        margin: 0;
    }
}

.bottom-fixed {
    position: fixed;
    bottom: 10px;
}

.top-fixed {
    position: fixed;
    top: 0;
}

// example style

.text {
    height: 400px;
    overflow: hidden;
    -webkit-transition: height .5s ease-out;
}
