.row .col-md-6:first-child {
    // background: #eee;
}

.row .col-md-6:last-child {
    background: #aaa;
}

.sticky {
    width: 555px;
    padding: 0;
    margin: 0;
}

.sticky p {
    margin: 0;
}

.text {
    height: 400px;
    overflow: hidden;
    -webkit-transition: height .5s ease-out;
}
